Edit_CommunityUpdater/Web References/HTStudioService/HTStudioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HTStudioService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HTStudioService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="DownloadTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedPath" nillable="true" type="tns:ExtendedPath" />
      <xs:element minOccurs="0" name="IsEmpty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Num" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadTask" nillable="true" type="tns:DownloadTask" />
  <xs:complexType name="ExtendedPath">
    <xs:sequence>
      <xs:element minOccurs="0" name="Last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Middle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Root" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPath" nillable="true" type="tns:ExtendedPath" />
  <xs:complexType name="DownloadResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IsSucceed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadResult" nillable="true" type="tns:DownloadResult" />
  <xs:simpleType name="UpdateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Download" />
      <xs:enumeration value="Upload" />
      <xs:enumeration value="Equal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UpdateType" nillable="true" type="tns:UpdateType" />
  <xs:complexType name="ArrayOfDownloadTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DownloadTask" nillable="true" type="tns:DownloadTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDownloadTask" nillable="true" type="tns:ArrayOfDownloadTask" />
</xs:schema>