Edit_CommunityUpdater/Web References/HTStudioService/HTStudioService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52623/HTStudioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HTStudioService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadTaskFromFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rpath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDownloadTaskFromFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="GetDownloadTaskFromFileResult" nillable="true" type="q3:DownloadTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="task" nillable="true" type="q4:DownloadTask" />
        <xs:element minOccurs="0" name="indexOf" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="DownloadResult" nillable="true" type="q5:DownloadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtendedPath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExtendedPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="GetExtendedPathResult" nillable="true" type="q6:ExtendedPath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="softWareName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="CheckUpdateResult" type="q7:UpdateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoftWareVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="softWareName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoftWareVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSoftWareVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="softWareName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HTStudioService" minOccurs="0" name="GetUpdateTaskResult" nillable="true" type="q8:ArrayOfDownloadTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>