Edit_CommunityUpdater/Web References/HTStudioService/HTStudioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HTStudioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52623/HTStudioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52623/HTStudioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52623/HTStudioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HTStudioService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHTStudioService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetDownloadTaskFromFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadTaskFromFile" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetDownloadTaskFromFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadTaskFromFileResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetExtendedPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedPath" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetExtendedPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExtendedPathResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_CheckUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdate" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_CheckUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetSoftWareVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftWareVersion" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetSoftWareVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSoftWareVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetUpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateTask" />
  </wsdl:message>
  <wsdl:message name="IHTStudioService_GetUpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IHTStudioService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetData" message="tns:IHTStudioService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetDataResponse" message="tns:IHTStudioService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetDataUsingDataContract" message="tns:IHTStudioService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetDataUsingDataContractResponse" message="tns:IHTStudioService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadTaskFromFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetDownloadTaskFromFile" message="tns:IHTStudioService_GetDownloadTaskFromFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetDownloadTaskFromFileResponse" message="tns:IHTStudioService_GetDownloadTaskFromFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/Download" message="tns:IHTStudioService_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/DownloadResponse" message="tns:IHTStudioService_Download_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExtendedPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetExtendedPath" message="tns:IHTStudioService_GetExtendedPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetExtendedPathResponse" message="tns:IHTStudioService_GetExtendedPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/CheckUpdate" message="tns:IHTStudioService_CheckUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/CheckUpdateResponse" message="tns:IHTStudioService_CheckUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSoftWareVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetSoftWareVersion" message="tns:IHTStudioService_GetSoftWareVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetSoftWareVersionResponse" message="tns:IHTStudioService_GetSoftWareVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IHTStudioService/GetUpdateTask" message="tns:IHTStudioService_GetUpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHTStudioService/GetUpdateTaskResponse" message="tns:IHTStudioService_GetUpdateTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHTStudioService" type="tns:IHTStudioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadTaskFromFile">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetDownloadTaskFromFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExtendedPath">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetExtendedPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdate">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/CheckUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoftWareVersion">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetSoftWareVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateTask">
      <soap:operation soapAction="http://tempuri.org/IHTStudioService/GetUpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HTStudioService">
    <wsdl:port name="BasicHttpBinding_IHTStudioService" binding="tns:BasicHttpBinding_IHTStudioService">
      <soap:address location="http://localhost:52623/HTStudioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>